* {
    font-family: 'Sora', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAF9;
    justify-content: center;

}

.text-title {    
    font-size: 1.125rem;
}
.text-body {
    font-size: 0.875rem;
    color: #9A9FA8;
}
.text-sm {
    font-size: 0.75rem;
}
.text-tag {
    font-size: 0.625rem;    
}




.card {    
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.15);
    background-color: #FFFFFF;
}

.card_header {
    padding: 16px;
    width: 336px;
    height: 152px;
}

.card_header > img {
    width: 100%;
    
    border-radius: 15px;
}
.card_body {
    width: 336px;
    padding: 0px 16px;
}

.card_body > h1 {
    padding: 0 0 6px  0;
}

.card_body > p {
    padding: 0px 16px 20px 0px;
    color: #6C727F;
}


.card_footer {
    border-top: 1px solid #6c727f52;    
}

.card_footer  p {
    padding:  20px 16px;
    color: #6C727F;
}

.card_tags {
    padding: 0 16px 
}

.chip {
    padding: 4px 16px;
    border-radius: 15px;
    color: #883AE1;
    font-weight: bold;
    background-color:#E6D6FC ;
}